<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.applicaster.cleengloginplugin">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        >

        <activity android:name=".views.LoginActivity"/>
        <activity android:name=".views.SubscriptionsActivity"/>
        <activity android:name=".views.RestoreActivity"/>
        <activity android:name=".views.SignUpActivity"/>
        <activity android:name=".views.ResetPasswordActivity"/>

    </application>

</manifest>